// Fira Code Font

@font-face{
    font-family: 'Fira Code';
    src: url('assets/fonts/eot/FiraCode-Light.eot');
    src: url('assets/fonts/eot/FiraCode-Light.eot') format('embedded-opentype'),
         url('assets/fonts/woff2/FiraCode-Light.woff2') format('woff2'),
         url('assets/fonts/woff/FiraCode-Light.woff') format('woff'),
         url('assets/fonts/ttf/FiraCode-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('assets/fonts/eot/FiraCode-Regular.eot');
    src: url('assets/fonts/eot/FiraCode-Regular.eot') format('embedded-opentype'),
         url('assets/fonts/woff2/FiraCode-Regular.woff2') format('woff2'),
         url('assets/fonts/woff/FiraCode-Regular.woff') format('woff'),
         url('assets/fonts/ttf/FiraCode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('assets/fonts/eot/FiraCode-Medium.eot');
    src: url('assets/fonts/eot/FiraCode-Medium.eot') format('embedded-opentype'),
         url('assets/fonts/woff2/FiraCode-Medium.woff2') format('woff2'),
         url('assets/fonts/woff/FiraCode-Medium.woff') format('woff'),
         url('assets/fonts/ttf/FiraCode-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('assets/fonts/eot/FiraCode-Bold.eot');
    src: url('assets/fonts/eot/FiraCode-Bold.eot') format('embedded-opentype'),
         url('assets/fonts/woff2/FiraCode-Bold.woff2') format('woff2'),
         url('assets/fonts/woff/FiraCode-Bold.woff') format('woff'),
         url('assets/fonts/ttf/FiraCode-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

// Body background color

body {
  background-color: #473B7B;
}

// Splash Hero
.hero {
  color: #fff;
  border: 0;
}

.logo {
  width: 240px;
  margin-bottom: 20px;
}

.hero-wrap {
  text-align: center;
  width: 100%;
  margin-top: 160px;
  margin-bottom: 50px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255,255,255,0.2);

  h1 {
    font-weight: 500;
  }
}

.about {
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.collective {
  margin-bottom: 50px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255,255,255,0.2);

  h4 {
    margin-bottom: 20px;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;

    img {
      width: 70px;
      float: left;
      display: inline;
      margin-right: 20px;
    }

    h5 {
      font-size: 24px;
      font-weight: bold;
      display: inline;
    }

    p {
      font-size: 90%;
    }

    a {
      color: #fff;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.milk {
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 40px;
}

.sticker {
  width: 140px;
  margin-bottom: 40px;
}
