// Body background color

body {
  background: linear-gradient(120deg, #251f40, #584a99);

}

// Full-screen Video in Hero
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
  width: auto;
  height: auto;
}

.video-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

// Splash Hero
.hero {
  color: #fff;
  border: 0;
  height: 100vh;
  position: relative;
}

.logo {
  width: 180px;
}

.hero-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  padding: 0 30px;

  @include breakpoint(1200px) {
    padding: 0;
    margin-left: -10px;
  }

  h2 {
    img {
      margin-top: 80px;
    }

    font-weight: 700;
    font-size: 157%;
  }

  .title-wrap {
    position: absolute;
    bottom: 25px;
  }

  h1 {
    font-weight: 700;
    display: inline;
  }

  h5 {
    font-weight: 300;
    text-transform: uppercase;
  }

  .button-wrapper {
    display: block;
    margin-top: 150px;

    @include breakpoint(small only) {
      margin-top: 80px;
    }
  }

  .scroll {
    img {
      width: 40px;
    }
  }
}

.section {
  padding: 80px 40px;
  color: #fff;
  font-weight: 300;

  h3 {
    font-weight: 700;
    margin-bottom: 40px;
  }

  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  .button {
    margin-top: 20px;
  }
}

.about,
.inquiry {
  padding-bottom: 80px;
}

.collective {
  margin-bottom: 50px;
  padding-bottom: 40px;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;

    img {
      width: 70px;
      float: left;
      display: inline;
      margin-right: 20px;
    }

    h5 {
      font-size: 24px;
      font-weight: 700;
      display: inline;
    }

    p {
      font-size: 90%;
    }

    a {
      color: #fff;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .columns {
    padding-left: 0;
  }
}

.avatar {
  margin-top: -6px;
}

.milk {
  margin-bottom: 0;
  padding-bottom: 80px;
}

.font500 {
  font-weight: 700;
}

form {
  label {
    color: #fff;
    font-size: 90%;
  }
}

.sticker {
  width: 140px;
  margin-bottom: 40px;
}

.footer {
  border: 0;
  margin: 20px 0;
  padding: 0 30px;
  font-weight: 700;

  img {
    width: 100px;
    margin-right: 10px;
  }
}

// Blinking cursor for Typed.JS

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  font-size: 220%;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
